FSST/courses-master/WEB-NW-PROG/06-IoT-MQTT/esp8266/mqtt_localhost_rand.json
[{"id":"13b11b73.c79bd5","type":"mqtt in","z":"189a98ad.ab9e77","name":"localhost/rand","topic":"/rand","qos":"2","broker":"3e5f67b0.69b078","x":127,"y":147,"wires":[["1dd8cb27.5439fd","d04e4db4.24af4"]]},{"id":"1dd8cb27.5439fd","type":"ui_chart","z":"189a98ad.ab9e77","name":"Chart: mqtt_localhost_rand","group":"bb03a114.c2aba","order":0,"width":"0","height":"0","label":"mqtt_localhost_rand","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"240","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":420.0000305175781,"y":143.68331909179688,"wires":[[],[]]},{"id":"d04e4db4.24af4","type":"function","z":"189a98ad.ab9e77","name":"Volkszaehler URL aufbereiten","func":"msg.url= 'http://demo.volkszaehler.org/middleware.php/data/98fd2600-b4bb-11e3-afa6-fd34350f1281.json?operation=add&value=' + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":256.3833312988281,"y":262.3666687011719,"wires":[["1d72966f.e0129a","433002ce.735e14"]]},{"id":"433002ce.735e14","type":"debug","z":"189a98ad.ab9e77","name":"","active":true,"console":"false","complete":"url","x":628.3833312988281,"y":261.3666687011719,"wires":[]},{"id":"1d72966f.e0129a","type":"http request","z":"189a98ad.ab9e77","name":"http://demo.volkszaehler.org/  Kanal:  98fd2600-b4bb-11e3-afa6-fd34350f1281","method":"GET","ret":"txt","url":"","tls":"","x":531.3833312988281,"y":358.3666687011719,"wires":[[]]},{"id":"aadc96e8.1e366","type":"comment","z":"189a98ad.ab9e77","name":"readme.txt","info":"~~~\ncd\ncd .node-red\nnode-red\nhttp://localhost:1880\nflow: mqtt_localhost_rand\n\n\ncd bin\n./mqtt_rand_localhost.sh\n\nhttp://localhost:1880/ui\n\nhttp://demo.volkszaehler.org\nUIID: 98fd2600-b4bb-11e3-afa6-fd34350f1281\n~~~\n","x":89,"y":364,"wires":[]},{"id":"3e5f67b0.69b078","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bb03a114.c2aba","type":"ui_group","z":"","name":"Home","tab":"a2ea2c58.b9cf18","disp":true,"width":"6"},{"id":"a2ea2c58.b9cf18","type":"ui_tab","z":"","name":"LOCALHOST","icon":"dashboard"}]