FSST/courses-master/WEB-NW-PROG/06-IoT-MQTT/esp32/platformIO-IDE/06-node-red/flow-3.json
[{"id":"490b3ae7.afe924","type":"tab","label":"Flow 3: IoT-project temperature (indoor and outdoor)","disabled":false,"info":""},{"id":"866a9ab0.9b8fc8","type":"inject","z":"490b3ae7.afe924","name":"","topic":"","payload":"blank","payloadType":"flow","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["f95e1549.3c0398"]]},{"id":"f95e1549.3c0398","type":"openweathermap","z":"490b3ae7.afe924","name":"openweathermap-sbg","wtype":"current","lon":"","lat":"","city":"Salzburg","country":"Austria","language":"en","x":220,"y":120,"wires":[["53ad2859.df82d8","d698faf9.008c08"]]},{"id":"53ad2859.df82d8","type":"debug","z":"490b3ae7.afe924","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":60,"wires":[]},{"id":"d698faf9.008c08","type":"function","z":"490b3ae7.afe924","name":"filter: msg.payload= msg.payload.tempc;","func":"msg.payload= msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":200,"wires":[["bc6b4673.0141a8"]]},{"id":"bc6b4673.0141a8","type":"ui_gauge","z":"490b3ae7.afe924","name":"","group":"6d7b79f2.a620b8","order":1,"width":0,"height":0,"gtype":"gage","title":"outdoor temp salzburg celsius","label":"units","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":587,"y":200,"wires":[]},{"id":"9ae9556.b9bfba8","type":"mqtt in","z":"490b3ae7.afe924","name":"MQTT: iot_esp32/bmp","topic":"iot_esp32/bmp","qos":"2","datatype":"json","broker":"be39f3ca.c9b2a","x":150,"y":320,"wires":[["7ad8240f.031a8c"]]},{"id":"7ad8240f.031a8c","type":"function","z":"490b3ae7.afe924","name":"msg.payload= msg.payload.temp","func":"return {payload: msg.payload.temp};","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["6376e54d.9f997c","8d8111ca.4a928","5c8c89fb.c1e348"]]},{"id":"6376e54d.9f997c","type":"debug","z":"490b3ae7.afe924","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":360,"wires":[]},{"id":"8d8111ca.4a928","type":"ui_gauge","z":"490b3ae7.afe924","name":"","group":"5bf7cdb5.94c884","order":0,"width":0,"height":0,"gtype":"gage","title":"indoor","label":"units","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":440,"wires":[]},{"id":"5c8c89fb.c1e348","type":"ui_chart","z":"490b3ae7.afe924","name":"","group":"5bf7cdb5.94c884","order":1,"width":0,"height":0,"label":"indoor","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":520,"wires":[[]]},{"id":"6d7b79f2.a620b8","type":"ui_group","z":"","name":"outdoor openweathermap","tab":"cdbd80ff.2df47","order":1,"disp":true,"width":"6","collapse":false},{"id":"be39f3ca.c9b2a","type":"mqtt-broker","z":"","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5bf7cdb5.94c884","type":"ui_group","z":"","name":"indoor esp32,bmp180","tab":"cdbd80ff.2df47","order":2,"disp":true,"width":"6","collapse":false},{"id":"cdbd80ff.2df47","type":"ui_tab","z":"","name":"Flow3: IoT: visualize sensor data","icon":"dashboard","order":3,"disabled":false,"hidden":false}]