FSST/courses-master/WEB-NW-PROG/06-IoT-MQTT/esp32/platformIO-IDE/06-node-red/flow-2.json
[{"id":"e69ce24f.9a9c4","type":"tab","label":"Flow 2: openweathermap","disabled":false,"info":"`sudo npm install -g --unsafe-perm node-red-node-openweathermap`"},{"id":"df6c287f.9567c8","type":"openweathermap","z":"e69ce24f.9a9c4","name":"openweathermap-sbg","wtype":"current","lon":"","lat":"","city":"Salzburg","country":"Austria","language":"en","x":240,"y":140,"wires":[["c67ffba.5cb8208","8d7f2d47.b16e1","6c838fc9.be22"]]},{"id":"e9979768.e78d28","type":"inject","z":"e69ce24f.9a9c4","name":"","topic":"","payload":"blank","payloadType":"flow","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["df6c287f.9567c8"]]},{"id":"c67ffba.5cb8208","type":"debug","z":"e69ce24f.9a9c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":80,"wires":[]},{"id":"a0ae162d.a32698","type":"ui_gauge","z":"e69ce24f.9a9c4","name":"","group":"3e3b0b12.cb43a4","order":1,"width":0,"height":0,"gtype":"gage","title":"outdoor temp salzburg celsius","label":"units","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":607,"y":220,"wires":[]},{"id":"9e41d0a7.50703","type":"ui_text","z":"e69ce24f.9a9c4","group":"3e3b0b12.cb43a4","order":3,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":530,"y":280,"wires":[]},{"id":"8d7f2d47.b16e1","type":"function","z":"e69ce24f.9a9c4","name":"filter: msg.payload= msg.payload.tempc;","func":"msg.payload= msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["a0ae162d.a32698"]]},{"id":"6c838fc9.be22","type":"function","z":"e69ce24f.9a9c4","name":"filter: description","func":"msg.payload=msg.payload.description;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":280,"wires":[["9e41d0a7.50703","752d58c7.f0d978"]]},{"id":"752d58c7.f0d978","type":"ui_template","z":"e69ce24f.9a9c4","group":"dfeb38a.d9259c8","name":"openweather-widget","order":3,"width":"14","height":"6","format":"<div id=\"openweathermap-widget-11\"></div> <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script><script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 11,cityid: '2766824',appid: '6578b7512fbcf7c57a52d2924f33d94f',units: 'metric',containerid: 'openweathermap-widget-11',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = \"utf-8\";script.src = \"//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js\";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":360,"wires":[[]]},{"id":"3e3b0b12.cb43a4","type":"ui_group","z":"","name":"openweathermap","tab":"e5714995.ca6378","order":1,"disp":true,"width":"6","collapse":true},{"id":"dfeb38a.d9259c8","type":"ui_group","z":"","name":"forecast/widget","tab":"e5714995.ca6378","order":2,"disp":true,"width":"14","collapse":true},{"id":"e5714995.ca6378","type":"ui_tab","z":"","name":"Flow2: demo (openweathermap)","icon":"dashboard","order":2,"disabled":false,"hidden":false}]