FSST/courses-master/WEB-NW-PROG/06-IoT-MQTT/esp32/platformIO-IDE/06-node-red/flow-1.json
[{"id":"48ca444a.d17b7c","type":"tab","label":"Flow 1: timestamp","disabled":false,"info":""},{"id":"12808ff3.0c7b2","type":"inject","z":"48ca444a.d17b7c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["38d68c51.53e024","3cbff007.4f938"]]},{"id":"8af2bcea.93a46","type":"debug","z":"48ca444a.d17b7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":120,"wires":[]},{"id":"dd3aabc7.4ab488","type":"comment","z":"48ca444a.d17b7c","name":"link","info":"[http://developers.sensetecnic.com/article/how-to-create-a-node-red-flow/](http://developers.sensetecnic.com/article/how-to-create-a-node-red-flow/)","x":120,"y":40,"wires":[]},{"id":"38d68c51.53e024","type":"function","z":"48ca444a.d17b7c","name":"outdoor random(1-50)","func":"\nvar number= Math.floor((Math.random() * 100)/2 + 1);\n\nmsg = { payload: number };\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["8af2bcea.93a46","36de040b.9c298c","57e82c59.5cbfb4"]]},{"id":"36de040b.9c298c","type":"ui_gauge","z":"48ca444a.d17b7c","name":"outdoor","group":"60018fe0.26ca6","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":160,"wires":[]},{"id":"57e82c59.5cbfb4","type":"ui_chart","z":"48ca444a.d17b7c","name":"outdoor","group":"60018fe0.26ca6","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":200,"wires":[[]]},{"id":"b0304aa8.5c5db8","type":"ui_gauge","z":"48ca444a.d17b7c","name":"indoor","group":"9fbfc118.23e23","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":280,"wires":[]},{"id":"cab07911.dc8938","type":"ui_chart","z":"48ca444a.d17b7c","name":"indoor","group":"9fbfc118.23e23","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":590,"y":320,"wires":[[]]},{"id":"3cbff007.4f938","type":"function","z":"48ca444a.d17b7c","name":"indoor random(1,50)","func":"\nvar number= Math.floor((Math.random() * 100)/2 + 1);\n\nmsg = { payload: number };\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["b0304aa8.5c5db8","cab07911.dc8938"]]},{"id":"60018fe0.26ca6","type":"ui_group","z":"","name":"Group: outdoor temperature","tab":"c69d47aa.ffb308","order":1,"disp":true,"width":"6","collapse":true},{"id":"9fbfc118.23e23","type":"ui_group","z":"","name":"Group: indoor temperature","tab":"c69d47aa.ffb308","order":2,"disp":true,"width":"6","collapse":true},{"id":"c69d47aa.ffb308","type":"ui_tab","z":"","name":"Flow1: demo (outdoor, indoor)","icon":"dashboard","order":0,"disabled":false,"hidden":false}]